header {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E1F3F1;
}

.logo img {
    height: 60px;
    width: auto;
    padding: 20px;
}

.conteiner {
    text-align: center;
    background-color: rgb(136,255,95,31%);
}

.logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 20px;
}

.logo2 img {
    height: 70px;
    width: auto;
    margin-right: 70px;
}

footer {
    background-color: #ACE1F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto Mono';
    font-weight: 500;
    color: black;
}

input#login {
    padding: 10px 150px 5px 30px;
}

input#pass {
    padding: 10px 150px 5px 30px;
}

input#repeatPass {
    padding: 10px 150px 5px 30px;
}

.menu_footer a {
    text-decoration: none;
    color: black;
}


input#name {
    padding: 10px 150px 5px 30px;
}

input#date {
    padding: 10px 180px 5px 30px;
}

input#phone {
    padding: 10px 150px 5px 30px;
}

input#mail {
    padding: 10px 150px 5px 30px;
}

a.menuButton {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    margin-right: 50px;
    color: black;
    text-decoration: none;
}
a.menuButton.thinButton{
	font-family: 'Roboto Mono', monospace;
	font-weight: 100;
}

.headerButtons {
    text-transform: uppercase;
}


.menu_footer{
	display: flex;
}

.help {
    display: grid;
    margin-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: self-start;
}

button.wideButton.simpleButton.submitButton {
    padding: 15px 30px 15px 30px;
    background-color: #6AF3A9;
    text-transform: uppercase;
    font-family: 'Roboto Mono';
    font-size: 20px;
    color: white;
    margin: 30px;
    text-shadow: 1px 1px 2px #0000007a;
    border: none;
    box-shadow: 1px 1px 2px #000000ab;
}

.field {
    margin-top: 10px;
    font-family: 'Roboto Mono';
    font-weight: 400;
    /* text-transform: uppercase; */
}

.selectSex {
    margin-top: 15px;
    font-family: 'Roboto Mono';
}

select.readerType {
    font-family: 'Roboto Mono';
    font-weight: unset;
}

button.wideButton.simpleButton.submitButton:hover {
    box-shadow: 2px 3px 3px #40c37c;
}


button.wideButton.simpleButton.submitButton:active {
    box-shadow: 1px;
    border: none;
    background-color: #fff;
    color: #4ddc8f;
    text-shadow: none;
}